.check-academic {
  display: flex;
  justify-content: space-evenly;

  gap: 15px;
}

.col-1,
.col-2,
.col-3 {
  display: flex;
  flex-direction: column;
}

#other {
  position: relative;
}

.other-resp input {
  width: 130px;
  opacity: 0;
  position: absolute;
  top: -5px;
  left: 15px;
  z-index: -1;
  transform: scaleY(0);
  transition: all 0.5s;
}

.col-3:has(input[class='other']:checked) .other-resp input {
  opacity: 1;
  z-index: 1;
  transform: scaleY(1);
}
