.info input {
  padding: 0.3rem;
  font-size: 16px;
  margin-bottom: 10px;
}

.email input {
  width: 385px;
}

.info-add {
  display: flex;
  gap: 25px;
}

.info-number #number {
  width: 250px;
  text-align: end;
}

.info-age input {
  width: 50px;
}

.info-add select {
  padding: 5px;
  font-size: 1rem;
}
