@media (max-width: 420px) {
  .body {
    padding: 0;
  }
  .background {
    max-width: 400px;
  }

  .header .title {
    margin-bottom: 10px;
  }

  .info-number #number {
    width: auto;
  }

  .info-add {
    display: block;
  }
  .info-gender {
    margin-bottom: 10px;
  }
}
