@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');
@import url('info.css');
@import url('course.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', sans-serif;
}

body {
  height: 100vh;
  max-width: 900px;
  margin: auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.background {
  height: 100%;
  padding: 10px;
  background-color: #ebebeb;
}

.header {
  text-align: center;
  padding: 20px;
}

fieldset {
  padding: 0.75rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;

  max-width: 700px;
  margin: auto;
}

input {
  padding: 0.3rem;
  font-size: 16px;
  margin-bottom: 10px;
}

select {
  padding: 5px;
  font-size: 1rem;
}
