@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');
@import url('info.css');
@import url('academic.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 15px;
  color: #e4e4e4;
}

body::before {
  content: '';
  width: 120%;
  height: 100%;
  background-image: url('../img/endless-constellation.svg');

  animation: move-bg 15s ease-in-out infinite alternate;

  background-size: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* class para transformar uma tag em flex */
.flex-column {
  display: flex;
  flex-direction: column;
}

/* todos os h2 */
.subtitle {
  margin-bottom: 15px;
}

.background {
  margin: auto;
  height: 100%;
  max-width: 800px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 2px 10px 2px black;
  background-color: rgba(0, 0, 0, 0.2);
}

.header {
  text-align: center;
  padding: 20px;
}

form {
  height: 100%;
}

#title {
  color: #ffaeff;
}

.header-p {
  font-size: 22px;
  color: #c07dff;
}

fieldset {
  padding: 0.75rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;

  max-width: 700px;
  margin: auto;
  border: none;
  border-bottom: 1px solid #e4e4e4;
}

input {
  padding: 0.3rem;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px;
  outline: none;
}

select {
  padding: 5px;
  font-size: 1rem;
}

/* Seção do curso */
.radio h3 {
  margin: 10px 0;
}

/* Seção de comentarios e avaliação */
.comment {
  border-bottom: none;
}
.comment h2 {
  margin: 0;
}
.comment p {
  font-size: 16px;
  margin-bottom: 15px;
}
.comment textarea {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
}

#submit {
  font-size: 20px;
  font-weight: bold;
  color: #330033;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  padding: 10px;
  transition: all 0.2s;

  box-shadow: 1px 2px 5px 1px black;

  &:hover {
    color: #e4e4e4;
    background-color: #330033;
  }
}

@keyframes move-bg {
  0% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(0px);
  }
}

@media (max-width: 420px) {
  .body {
    padding: 15px;
  }
  .background {
    max-width: 400px;
  }

  #title {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .header #description {
    font-size: 14px;
  }

  .header-p {
    font-size: 20px;
  }

  .info-number #number {
    width: auto;
  }

  .info-add {
    display: block;
  }
  .info-gender {
    margin-bottom: 10px;
  }

  .subtitle {
    margin-bottom: 13px;
  }

  .check-academic {
    font-size: 10px;
  }
}
