@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  font-size: 62.5%;
  color: #ffffff;
}

.background {
  background-color: rgba(0, 0, 0, 0.1);
}

.header {
  padding: 0.8rem;
  text-align: center;
}

.header h1,
.header p {
  color: #222;
}

.header h1 {
  font-size: 1.3rem;
}

.header p {
  font-size: 1rem;
}

.main {
  padding: 0.8rem;
  font-size: 0.95rem;
}

.main .section {
  margin-bottom: 1rem;
}

fieldset {
  border: none;
  background-color: #ff9f5e;
  display: block;
}

legend {
  color: #222;
}

fieldset {
  display: grid;
  padding: 0.5rem 0.2rem;
}

fieldset.info {
  gap: 0.5rem;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: 1.3rem;
  align-items: center;
}

input {
  font-size: 1rem;
  border: none;

  padding: 0.2rem;
}

label[for='university'] {
  font-size: 0.8rem;
}

#dropdown {
  height: 1.6rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-family: 'Roboto Slab', serif;
}

#course-state {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.legend-radio {
  color: #fff;
  text-align: center;
}
.state-flex {
  display: flex;
  gap: 0.2rem;
}

.academic .check-academic {
  display: grid;
  grid-template-areas: 'a a a a a a ';
  align-items: center;
  gap: 0.2rem;
  padding: 0.5rem;

  font-size: 0.8rem;
}

.comment p {
  margin-bottom: 0.5rem;
}

.comment textarea {
  padding: 0 0.5rem;
  font-size: 1rem;
  font-family: 'Roboto Slab', serif;
}

input[type='submit'] {
  padding: 0.5rem 1.2rem;
  border: none;
  background-color: #ff9f5e;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 0;

  &:hover {
    background-color: #fa8f47;
    cursor: pointer;
  }
}

@media (min-width: 400px) {
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 720px;
    margin: 0 auto;
  }
}
